.poppins {
  font-family: 'Poppins', sans-serif;
}

.playfair-display {
  font-family: 'Playfair Display', serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

body {
  color: #fff;
  background-color: #000;
  grid-template-rows: 10% 80% 10%;
}

header,
footer {
  height: 80px;
}

main {
  min-height: 80vh;
}

#content, 
body,
.meals {
  display: grid;
}

#content {
  min-height: 80vh;
  grid-template-rows: 100px 300px;
  grid-template-columns: 1fr;
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3)), 
  url('../images/background.jpg') center center no-repeat;
  background-size: 1440px 1024px;
}

.meals {
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 100px;
  gap: 10px;
  margin: 0 auto;
}

.image-meal {
  height: 100%;
}